<template>
  <div id="app">
    <Header />
    <Sidebar />
    <Index />
    <Footer />
  </div>
</template>

<script>
import Header from './components/layouts/Header.vue'
import Sidebar from './components/layouts/Sidebar.vue'
import Index from './components/Index.vue'
import Footer from './components/layouts/Footer.vue'

export default {
  name: 'App',
  components: {
    Index,
    Header,
    Footer,
    Sidebar
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #fff;
}
</style>
