<template>
	<footer class="footer">
    <div class="container">
      <a href="">Terms</a>
      <span class="">&copy; 2020 JRingo</span>
      <a href="">Privacy</a>
    </div>
  </footer>
</template>

<script>
export default {
	
}
</script>

<style scoped>

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #fff;
    font-family: Lato;
		font-size: 13px;
    line-height: 60px;
    background-color: #13aa52 !important;
		border-top: 1px solid rgb(231, 238, 236);
  }

  span{
    color: #fff;
    padding: 30px;
  }

  a {
    color: #fff;
    padding: 30px;
  }

  a:hover {
    text-decoration: none;
    color: #aa2213;
  }

</style>