<template>
	<div class="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="col-lg-1">
        <img src="@/assets/jringo_logo.png"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col-lg-2 collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#">Test</a>
          <!-- <a class="nav-link" href="#">Test</a> -->
        </div>
      </div>
      <div class="col-lg-6">
        <form class="form-inline">
          <input class="search_bar form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="col-lg-3 collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="user_info navbar-nav">
          <li class="nav-item dropdown">
            <a class="user_name nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User Name</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Privacy</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
          <!-- <p class="user_name">User Name</p> -->
          <span class="user_photo"></span>
        </div>
      </div>
    </nav>
	</div>
</template>

<script>
export default {
	
}
</script>

<style scoped>

  .navbar {
    position: relative;
    z-index: 0;
    background-color: white !important;
    color: #464c4f;
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid rgb(231, 238, 236);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 70px;
    width: 100%;
    box-shadow: rgba(67, 117, 151, 0.08) 0px 3px 7px 0px;
  }

  .nav-link {
    color: #464c4f !important;
    margin: 0px 16px;
  }

  img {
    width: 70%;
    height: 70%;
  }

  .search_bar {
    width: 700px !important;
    border-radius: 50px;
    background-color: #f6f6f6;
  }

  .user_info {
    color: #000;
    font-size: 14px;
    margin-left: 47%;
  }

  .user_photo {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: #13aa52;
  }

  .user_name {
    margin: 0px 16px;
    padding: 8px;
    font-size: 15px;
    font-family: Lato;
  }

  .dropdown-menu {
    background-color: #13aa52;
  }

  .dropdown-toggle::after {
    content: none;
  }

  .dropdown:hover .dropdown-menu{
    display: block;
  }

  .dropdown-item {
    color: #fff;
  }

</style>