<template>
	<nav class="nav flex-column">
    <a class="nav-link" href="#">Artists</a>
    <a class="nav-link" href="#">Songs</a>
    <a class="nav-link" href="#">Books</a>
    <a class="nav-link" href="#">Art</a>
    <a class="nav-link" href="#">Film</a>
	</nav>
</template>

<script>
export default {
	
}
</script>

<style scoped>

	.nav {
		float: left;
		text-align: left;
		padding-left: 30px;
    margin-top: 50px;
		width: 20%;
	}

	.nav-link {
		position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 600;
		font-family: Lato;
    text-transform: capitalize;
		color: #464c4f;
		cursor: pointer;
		padding: 16px;
	}

</style>